<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.uglyhomes.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uglyhomes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>housers</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>housers</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>whatsapp</string>
		<string>fb</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Houser needs access to save property photos so you can share them on Instagram and other platforms.</string>
</dict>
</plist>
