<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Houser needs access to your camera to take photos of properties you want to post.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Houser needs access to your photo library to select photos of properties you want to post.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Houser needs permission to save property photos to your photo library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Houser uses your location to show you nearby properties and open houses.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.uglyhomes.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uglyhomes</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
